body {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    margin: 0;
    /* width: 100vw; */
}

p {
    margin: 0;
}

.header-hero {
    margin-bottom: 40px;
    min-height: 580px;
    min-width: fit-content;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    color: #e5e7eb;
    font: 24px;
    font-weight: 600;
    padding: 35px;
    padding-bottom: 40px;
    gap: 10px;
}

.header h1 {
    flex: 1;

}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding: 10px;
    margin: 0px;
}

a {
    text-decoration: none;
    font: 18px;
    color: #e5e7eb;
    padding: 20px;
}

.hero {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    flex-wrap: wrap;
    gap: 60px;
    padding: 40px;
}

.hero .content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 600px;
    /* height: 400px; */
    /* align-content: space-around; */
    gap: 20px;
}

.hero1 {
    font-size: 48px;
    font-weight: 900;
}

.hero2 {
    font-size: 18px;

}

.content button {
    max-width: fit-content; 
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #3882f6;
    border: 0;
}


#hero {
    width: 450px;
    height: 390.22;
    flex: 0 0 auto;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container.two {
    flex-direction: column;
    min-height: 520px;
    min-width: fit-content;
}


.header-images {
    font-size: 36px;
    color:#1F2937;
    background-color: white;
    font-weight: 900;
    margin-bottom: 40px;

}

.image-row {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-bottom: 10px;
    flex: 1;

}

.points img {
    display: flex;
    height: 200px;
    width: 200px;
    border: 2px, solid, #3882f6;
    border-radius: 20px;
    margin: 10px;
}



.points p {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 200px;
    min-width: 200px;
    height: 200px;
    flex-wrap: wrap;
    padding: 10px;
}

.container.three {
    background-color: #e5e7eb;
    min-height: 580px;


}

.testimony {
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    width: 280;
    gap: 26px;
}

.quote {
    font-size: 32px;
    font-style: italic;
    color: #1f2937;
    width: 70vw;
    padding: 10px;

}

.name {
    font-size: 26px;
    font-weight: 800;
    align-self: flex-end;
}


.container.four {
    min-height: 520px;
    background-color: white;
}

.modal {
    border-radius: 100px 30px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    width: 1000px;
    color: white;

}

.modal .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 450px;
    gap: 4px;
}

.modal .head {
    font-size: 40px;
    font-weight: 900;
    padding: 8px;
    border: 2px, solid, white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid, 2px;
}

.modal p {
    padding: 8px;

}

.modal button {
    padding: 16px;
    font-size: 24px;
    background-color: #3882f6;
    border: solid, 2px, white;
    border-radius: 15px;
    color: white;
    font-weight: 600;
}